@model Ogrenci
<h2>Öğrenci Günçele</h2>
<hr>
<div class="row">
    <div class="col-8">
        <form asp-controller="Ogrenci" asp-action="Edit" method="post">
            <input asp-for="OgrenciId" type="hidden">
            <div class="mb-3">
                <label asp-for="OgrenciAd" class="form-label">Öğrenci Ad</label>
                <input asp-for="OgrenciAd" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="OgrencSoyadi" class="form-label">Öğrenci Soyad</label>
                <input asp-for="OgrencSoyadi" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="Eposta" class="form-label">Öğrenci Eposta</label>
                <input asp-for="Eposta" class="form-control">
            </div>
        
            <div class="mb-3">
                <label asp-for="Telefon" class="form-label">Öğrenci Telefon</label>
                <input asp-for="Telefon" class="form-control">
            </div>
        <button type="submit" class="btn btn-success">Kaydet</button>
        
        </form>
    </div>
    <div class="col-4">
        <h4>Kurslar</h4>
        <hr>
        <ul>
            @foreach(var item in @Model.KursKayitleri)
            {
                <li>@item.Kurs.Baslik</li>
               
            }
        </ul>
    </div>
</div>
